@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body,
h1,
p,
figure {
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background-image: url(../imagens/plano-de-fundo-do-site-200px.png);
}

img {
    max-width: 100%;
}

header {
    background-color: #FE7FDB;
    height: 136px;
    text-align: center;
    max-width: 100%;
}

a {
    height: 40px;
    text-decoration: none;
    color: #74014A;
    font-size: 20px;
    cursor: pointer;

}

header a {
    border-radius: 8px;
    padding: 10px;
}

  

nav {
    display: flex;
    justify-content: space-around;
}


.logoredondo img {
    border-radius: 100%;
    box-shadow: #74014A 0 0 15px;
    position: relative;
   
}

.botao1 a,
.botao2 a,
.botao3 a,
.botao4 a {
    position: relative;
    top: 95px;
}

.botao1 a:hover,
.botao2 a:hover,
.botao3 a:hover,
.botao4 a:hover {
    position: relative;
    top: 95px;
    background-color:#fcaddc ;
}

main {
    display: inline-block;
    padding: 80px;
    font-family: 'Comfortaa', cursive;
    color: rgb(27, 25, 25);
    font-size: 20px;
}

main img {
    border-radius: 10px;

}

.fotoindex {
    max-width: 100%;
    height: 980px;
}


.fotoindex01 {
    display: inline-block;
    margin-top: auto;

}

.fotoindex01:hover {
    transform: scale(1.03);
    transition: 500ms;
    box-shadow: #50c3c6 0 0 15px;

}

.fotoindex02 {
    display: inline-block;
    margin-top: auto;
    position: relative;
    top: -240px;
    right: -25px;
}

.fotoindex02:hover {
    transform: scale(1.03);
    transition: 500ms;
    box-shadow: #50c3c6 0 0 15px;
}

.fotoindex03 {
    display: inline-block;
    margin-top: auto;
    position: relative;
    top: -215px;
}

.fotoindex03:hover {
    transform: scale(1.03);
    transition: 500ms;
    box-shadow: #50c3c6 0 0 15px;
}

.fotoindex04 {
    display: inline-block;
    margin-top: auto;
    position: relative;
    top: -215px;
    right: -25px;
}

.fotoindex04:hover {
    transform: scale(1.03);
    transition: 500ms;
    box-shadow: #50c3c6 0 0 15px;
}

#missao {
    display: flex;
    width: 50vw;
    margin: auto;
    text-align: left;
}

#missao img {
    float: left;
}

.logomiss {
    margin: auto;
}

.textomiss {
    width: 30vw;
}

.borda{
  padding-top: 25px;
}
.comentario {
    height: 750px;
}

.comentario img {
    margin: 15px;
}

.com01,
.com03 {
    text-align: left;
}

.com02,
.com04 {
    text-align: right;
}

.valores img {
    float: left;
}

.valores {
    text-align: left;
    padding-right: 260px;
    padding-left: 260px;
}

.whats{
    position: fixed;
    bottom: 0px;
    right: 0px;
}

footer {
    height: 200px;
    font-family: 'Comfortaa', cursive;
    background-color: #FE7FDB;
    color: #74014A;
    font-weight: bold;
    max-width: 100%;
}

.footer01,
.footer02,
.footer03 {
    float: left;
    padding-left: 50px;
}

.footer03 {
    position: relative;
    right: -500px;
    text-align: center;
}

.footer02 {
    position: relative;
    right: -200px;
}

footer p {
    margin-top: 10px;
}

.formulario01 {
    background-color: #D9D9D9;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.formulario02 {
    background-color: #D9D9D9;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.formulario03 {
    background-color: #D9D9D9;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.formulario05 {
    background-color: #D9D9D9;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}

.acessorios,
.escolar,
.mochilas,
.nece {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-evenly;
}

